@page "/dashboard"
@inject IJSRuntime JSRuntime
@implements IDisposable
<div id="web-dashboard" style="width:100%; height: 800px;">
@*<div id="web-dashboard" style="position:absolute; top:0; right:0; bottom:0; left:0;">*@
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeAsync<object>("JsFunctions.InitWebDashboard");
    }

    public void Dispose()
    {
        JSRuntime.InvokeAsync<string>("JsFunctions.DisposeWebDashboard");
    }


}